{% extends "main.html" %}

{% block head %}
    {{ jimi.jquery() }}
    {{ jimi.tables() }}
	{{ jimi.visjs() }}
	<script src="/plugin/monitor/includes/flow.js"></script>
	<script src="/plugin/monitor/includes/existingObject.js"></script>
{% endblock %}

{% block main %}
	<div class="ui-container">
		<button onclick="createExistingObjectPanel()" class="btn btn-primary importConductButton theme-panelButton">+</button>
		<div class="ui-main">
			<div class="flowchart theme-content" id="flowchart"></div>
			<img id="bgimage" src="{{ image }}"  style="visibility: hidden;" />
		</div>
	</div>

	<script>
		var CSRF = "{{CSRF}}"
	</script>

	<!-- Right Click Menu -->
	<script>
		$(".flowchart").contextMenu({menuSelector: "#contextMenu" });
	</script>
{% endblock %}